/*MAIN*/


main {
    margin: 4px 0px; /*small separation from header and footer*/
}

/*1ST section with cover*/
#section_Cover {
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 50px 100px;
    color: white;
    font-family: "Montserrat";
}

.section_Cover-titleContainer {
    display: flex;
    flex-direction: column;
    gap: 24px;
    letter-spacing: 1%;
}

.section_Cover-titleContainer h1 {
    font-size: 3rem;
    text-transform: capitalize;
    font-style: oblique;
    font-weight: 900;
    line-height: 5rem;
}


/*2ND section with statistics*/

#section_Statistics {
    background-color: #F9F9F9;
    display: flex;
    flex-direction: row;
    border-bottom: 4px solid #C0C0C0;
    height: 400px;
    align-items: center;
    justify-content: space-around;
}

.section_Statistics-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Montserrat';
    gap: 10px;
}

.section_Statistics-value {
    font-size: 52px;
    font-weight: 700;
}

.section_Statistics-description {
    font-size: 32px;
}